/* =============
    footer
============= */
#footer{
    display: grid;
    grid-template-areas: 
    "locationsheader"
    "locations"
    "NewsletterSignup"
    "footericons"
    ;
    background-color: #5A373B ;
    color: white;
    #footericons{
        li{
            display: inline;
        }
        }
        @include md{
                      display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "locationsheader Newsletter signup"
            "locations Newsletter signup"
            "locations footericons";  
        }
        @include lg{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-areas:
            "locationsheader Newsletter signup footericons"
            "locations Newsletter signup footericons";
}
}
