/* =============
    Menu
============= */
#Menu{
    div{
        ul{
            display: grid;
            gap: 16px;
            
            li{
                #cakemenu{
                    >div{
                        background-image: url("..img/section-5/herospot_5.png");
                    }
                }
            }
            li{
                #pastriesmenu{
                    >div{
                        background-image: url("..img/section-5/herospot_6.png");
                    }
                }
            }
            li{
                #breadmenu {
                    >div {
                        background-image:url("..img/section-5/herospot_7.png") ;
                    }
                }
            }
            li{
                #donutsmenu {
                    >div {
                        background-image:url("..img/section-5/herospot_8.png") ;
                    }
                }
            }
            li{
                #icecreamsmenu {
                    >div {
                        background-image:url("..img/section-5/herospot_9.png") ;
                    }
                }
            }
    }
}
}
