/* =============
    Pastries-Herospot
============= */
.Pastries-Herospot {
    display: grid;
    grid-column: 4;
    grid-row: 4;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 30px 30px 30px 30px;
}
.Pastrieshero{
max-width: 100%;
}