/* =============
    Searchbar
============= */
#Searchbar{
form{
    display: grid;
    grid-template-areas: ". Searchbar .";
    grid-template-columns: 16px auto 16px;

    >div{
        grid-area: search;
    }
}
}